################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/IGL.ConsoleClient/obj
/src/IGL.ConsoleClient/bin
/src/packages
/src/IGL.Cloud/bin
/src/IGL.Cloud/csx
/src/IGL.Cloud/IGL.ServiceRoleContent
/src/IGL.Cloud/obj
/src/IGL.Cloud/ecf/IGL.ServiceRoleContent
/src/IGL.Cloud/Profiles/IndieGamesLabProduction.azurePubxml
/src/IGL.ServiceRole/bin
/src/IGL.ServiceRole/obj
/src/.vs/config
/src/IGL.Unity/Library
/src/IGL.Unity/IGL.Unity.sln
/src/IGL.Unity/IGL.Unity.CSharp.csproj
/src/IGL.Unity/Assets/IGL/Newtonsoft.Json.dll.meta
/src/IGL.Unity/Assets/IGL/IGL.Common.dll.meta
/src/IGL.Unity/Assets/IGL/IGL.Client.dll.meta
/src/IGL.Unity/Temp
/src/IGL.Unity/Assets.zip
/src/IGL.Unity/IGL.Unity.csproj
