################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/IGL.ConsoleClient/obj
/src/IGL.ConsoleClient/bin
/src/packages
